*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.tabs_wrapper{
    background-color: powderblue;
    width: 1200px;
    margin: 50px auto;
}
.tabs_header{
    display: flex;
}
.tabs_button{
    width: 100px;
    height: 100px;
    background-color: palevioletred;
    color: black;
    text-align: center;
    flex-grow: 1;
}
.tabs_button:hover>p{
    cursor: pointer;
    font-weight: bold;
}
.tabs_button>*{
    font-size: 1.2rem;
}
.tabs_content{
    display: none;
}