*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrap{
    width: 1000px;
    margin: 0 auto;
}
.header{
    background-color: powderblue;
    height: 50px;
    margin-bottom: 100px;
}
.content{
    background-color: honeydew;
    overflow: hidden;
}
.main-menu{
    background-color: palevioletred;
    width: 300px;
    height: 300px;
    float: left;
}
.sub-menu{
    background-color: rosybrown;
    width: 300px;
    height: 300px;
    float: right;
}
.footer{
    background-color: paleturquoise;
    height: 50px;
    margin-top: 100px;
}