/*초기화 작업*/
.dropdown ul{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    border: none;
}
/*inline화된 dropdown메뉴를 text-align으로 페이지 가운데정렬함*/
.dropdown{
    margin: 0 auto;
    font-size: 1.3rem;
}
.dropdown li > a {
    padding: 10px;
    display: block;
    background-color: red;
}
.dropdown ul {
    background-color: #eedb2d;
}
/*dropdown의 1차 메뉴를 inline-block화하여 text-align으로 가운데 정렬할 수 있도록 함 + 한 줄에 정렬되도록 함*/
.dropdown > ul {
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px 20px;
    width: 600px;
}
/*dropdown의 1차 메뉴를 inline-block화하여 크기를 지정할 수 있도록 함*/
.dropdown > ul > li {
    float: left;
    width: calc(600px / 4);
}
/*1차메뉴를 position의 기준으로 설정*/
.dropdown li{
    position: relative;
}
/*1차메뉴를 기준으로 기준에서 100% 아래 / 가장 왼쪽에 붙어서 2차메뉴가 시작되도록 함
2차 메뉴는 일단 안 보이게 설정*/
.dropdown ul ul {
    height: 0;
    position: absolute;
    top: 100%;
    left: 0;
}
/*1차메뉴에 마우스 오버했을때 2차 메뉴가 보이도록 설정*/
.dropdown > ul > li:hover > ul{
    display: block;
}
.dropdown > ul > li > ul > li:hover{
    font-weight: bolder;
}
.dropdown ul > li > a{
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
}
.dropdown>ul>li:hover>a+.dmenu02{
    transition-duration: 5s;
    height: 200px;
}

.dmenu-2{
    overflow: hidden;
}